Options -MultiViews
Options -Indexes

php_value upload_max_filesize 64M
php_value post_max_size 64M

RewriteEngine on

RewriteBase /umbrella/
 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
 
RewriteRule ^(.+)$ index.php?c=$1 [QSA,L]